#app {
/*	overflow-x: hidden;
	overflow-y: auto;*/
}
#background, #scrollstory {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#app header > p {
	max-width: 375px;
}
#app #background {
	transform: translate3d(0,0,0);
	z-index: -1;
}
#app #background svg {
	width: 100vw;
}

#scrollstory {
	margin: 0 auto;
	max-width: 555px;
	width: 100vw;
}
#scrollstory .slide-container {
	height: 100vh;
	position: relative;
	transform: translate3d(0,0,0);
	width: 100%;
}
#scrollstory .slide {
	background: rgba(255,255,255);
	border-radius: 3px;
	left: 50%;
	margin: 0 auto;
	max-width: 400px;
	padding: 10px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
#scrollstory .slide > img {
	width: 100%;
}

#app .tspan.text {
	text-anchor: end;
	fill: var(--blue01);
	font-family: BentonSansCond-Regular, sans-serif;
	font-size: 0.9rem;
}
#app .tspan.name {
	font-family: BentonSansCond-Bold, sans-serif;
}
#app .weepeople {
	color: var(--grey03);
	fill: var(--grey03);
	font-size: 2rem;
}
#app .weepeople.bc {
	color: var(--blue01);
	fill: var(--blue01);
	font-size: 2.5rem;
}

/* POSTMEDIA STYLES */
#app h1 {
	color: var(--black);
	font-family: Shift-BoldItalic, serif;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
#app h2 {
	color: var(--black);
	font-family: BentonSansCond-Bold, sans-serif;
	margin: 1px 0;
}
#app h3 {
	color: var(--black);
	font-family: BentonSansCond-Bold, sans-serif;
}
#app h4 {
	color: var(--black);
	font-family: BentonSansCond-Regular, sans-serif;
	font-size: 0.8rem;
}

#app p {
	color: var(--black);
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	line-height: 1.3rem;
	margin: 0;
}

#app footer {
	display: flex;
}

#app footer > p {
	flex: 1;
}

#app .note,
#app .source,
#app .credit {
	color: var(--grey02);
	font-size: 0.8rem;
}

#app .credit {
	text-align: right;
}

#app .source a {
	color: inherit;
}




@media only screen and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
}
